body, html {
    font-family: 'Antic Didone';
    font-size: 18px;
    line-height: 34px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto; 
    
 
}

/* Header and Nav Bar  */

.nav-container {
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
    clear: both;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    margin: 0 0 30px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    background-color: white;
  
}

  #logo {
    float: left;
    /* width: 250px; */
    height: 90px;
    font-family: 'Antic Didone'; 
    font-size: 20px;
    font-weight: 700;
    line-height: 90px;
    color: rgb(75, 73, 73);
    text-align: center;
    text-decoration: none;
    /* background-color: indigo */

}

#logo:hover{
    color: lightsalmon
}
  
nav {
    float: right;
    margin-top: 25px;
    /* background-color: lightsalmon; */
}
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: rgb(75, 73, 73);
    text-decoration: none;
    border-left: 1px solid #efefef;
    font-family: 'Antic Didone'; 
    font-size: 14px;
   
}

a:hover {
    color: lightsalmon
}

nav a:first-child {
    border-left: 0 none;
}

/* Hero Image & Text */
h1{
    font-size: 20px;
}

h2{
    font-size: 40px;
    font-family: 'Krona One';
}

h3{
    font-size: 30px;
}

.hero-image {
    background-image: url("../assets/images/hero-full-size.jpg") ;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;    
    margin: auto;
} 

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute; 
    top: 20%;
    color: rgb(75, 73, 73);
    font-family: 'Antic Didone';
    width: 100%;
    height: 150px;
  
} 


.container-about-me{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;  
}


h7{
    font-size: 27px;
    margin-top: 50px;
    font-family: 'Krona One';
    color: rgb(75, 73, 73);
}

h4{
    margin-top: 50px;
    font-family: 'Krona One';
    color: rgb(75, 73, 73);
    text-align: center;
}

p{
      margin-top: 30px;
}

#about-me-text{
    padding-right: 25px;
}


/* Portfolio Web */
.container-web-portfolio{
  width: 100%;
    background-color: #efefef;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card-img-top{
    width: 100%;
    height: 330px;
}

.btn{
    background-color: #efefef;
    color: rgb(75, 73, 73);
    font-family: 'Antic Didone';
    margin-top: 5px;
}

.btn:hover{
    background-color: lightsalmon;
    border: 0px none;
    color: white;
}


/* Contact Me  */

.container-contact-me{
    padding-top: 100px;
    width: 100%;
}

#contact-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 60px;
    margin: auto;
}

#contact-image-other{
    width: 25px;
    height: 30px;
}

#contact-image-email{
    width: 45px;
    height: 30px;
}

.contact-display{
    height: 300px;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 100px;
    background-color: lightsalmon;
    text-align: center;
}

.contact-start{
    margin-top: 100px;
}

.contact-cube{
    max-width: 500px;
}

#hyperlink{
    color: rgb(75, 73, 73);
    font-size: 14px;
}

#hyperlink:hover{
    color: white;
}

h5{
    font-family: 'Krona One';
    color:rgb(75, 73, 73);
    font-size: 12px;
    padding-top: 15px;
}


/* Certifications  */

.container-certifications{
 background-color: #efefef;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.certs{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.certsR{
    margin-right: 25px;
}

.certsL{
    margin-left: 25px;
}

h8{
    font-family: 'Krona One';
    color:rgb(75, 73, 73);
    font-size: 14px;
}

#hubspot-cert{
    width: 60px;
    height: 50px;
    display: inline-block;
    padding-top: auto; 
}

#other-cert{
    padding-left: 5px;
    padding-right: 5px;
    width: 60px;
    height: 50px;
    display: inline-block;
    padding-top: auto;
}

#certificate {
    width: 400px;
    height: 60px;
    background: lightsalmon;
    border-radius: 100px / 70px;
    text-align: left;
    padding-top: 5px;
    margin-top: 5px;
}
  

/* Social Media  */
.container-social{
  padding-top: 100px;
  padding-bottom: 100px;
}
.slide-container{
    margin-top: 50px;
    width:400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
  
.image-container{
    width: 2400px;
    height: 600px;
    position: relative;
    transition: left 2s;    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
}
  
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
  
.button-container{
    display: flex;
    justify-content: center;
    
}
  
.slider-button{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: lightsalmon;
}
  
#slider-image1:target ~.image-container{
    left: 0px;
}

#slider-image2:target ~.image-container{
    left: -400px;
}
  
#slider-image3:target ~.image-container{
    left: -800px;
}
  
#slider-image4:target ~.image-container{
    left: -1200px;
}
  
#slider-image5:target ~.image-container{
    left: -1600px;
}
  
#slider-image6:target ~.image-container{
    left: -2000px;
}

.social-text{
  text-align: center;
  margin: auto;
  max-width: 800px
}

footer {
    background-color: white;
    bottom: 0;
    width: 100%;
    max-height: 50px; 
    text-align: center;
    color: rgb(75, 73, 73);
    font-family: 'Antic Didone';
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0;
    padding: 30px 0;
    clear: both;
} 
          
/* Social Icons  */          
.container-intro{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}
            
/* Social Bar  */
.social-icon{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
            
#social-icon1{
    float: right;
}

#social-icon3{
  float: left;
}



@media screen and (min-width: 300px) and (max-width: 980px){

/* Header and Nav Bar  */
.nav-container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#masthead{
  text-align: center;
  margin: auto;
  width: 100%;
  margin: auto;
  background-color: white;     
}

nav{
  float: none;
  text-align: center;
  width: 100%;
}


#logo{
  width: 100%;
  text-align: center;
  float: none;
  justify-content: center;
  display: flex;           
}
      
h1{
  text-align: center;
}

#main-container{
  width: 100%;
  padding: 150px;
  margin: auto;
  margin-top: 200px;         
}
        
.hero-text{
  padding-top: 130px;
  padding-left: 15px;
  padding-right: 15px;
}

h3{
  margin-left: 15px;
  margin-right: 15px;
}

/* Social Icons */
.social-icon{
  width: 25px;
  height: 25px;
  flex-wrap: wrap;
  flex-direction: row;
}

#social-icon1{
  float: none;
}

#social-icon3{
  float: none;
}

/* About Me  */
.container-about-me{
  padding-left: 15px;
  padding-right: 15px;
}

#self-image{
  margin: auto;
}

img{
  width: 350px;
}

h7{
  text-align: center;
}

h4{
  text-align: center;
}

#about-me-text{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
      
/* Portfolio Web  */


.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
/* Social Media  */

.image-container{
width: auto;

}

.slider-image{
  float: none;
  padding-left:15px;
padding-right: 15px;
}

.social-text{
  padding-left:15px;
  padding-right: 15px;
}
/* Certifications */

.container-certifications{
  padding-left: 15px;
  padding-right: 15px;

}

.certs{
  padding-left: 15px;
  padding-right: 15px;
}

.certsL{
  margin: 0;
}

.certsR{
  margin: 0;
}

/* Contact  */

.container-contact-me{
  padding-left: 15px;
  padding-right: 15px;
 }

.contact-display{
  height: 100%;
  /* padding-bottom: 110px; */
}

.contact-cube{
  padding-top: 25px;
}

}